.note-tag{
    color:  	#FFE4C4;
}

.list-label{
    color:  rgb(73, 165, 37);
}

.css-lkh0o5-menu{
    background-color: #fff0 !important;
    color: #a3c639;
}
  
.css-1q6aj2e-option{
    background-color: rgba(50, 93, 211, 0.63) !important;
}
  
.css-13qatl9-multiValue{
    background-color:rgba(13, 241, 13, 0.904) !important;
}

