#markdown.form-control{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: solid ;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: rgb(255, 255, 255);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    
}

#input-ttl{
  border-color: "#c6a3390";
}

#title{
  background-color: #fff0;
  border-color: #a3c639;
}

#markdown.form-control:focus {
    background: none repeat scroll 0 0 #c5b3b34b;
    outline-width: 0;
    border:1px solid rgb(82, 207, 9);
    border-color: #a3c639;
}

#markdown.form-control {
  border-color: #a3c639;
}

#title.form-control:focus {
    border-color: "#c6a3390";
    box-shadow: 0 0 0px rgb(49, 49, 49)
}

#tags.form-control:focus {
    visibility: hidden;
}

.btn-save{
  width: 130px;
  height: 55px;
    color: #FFFFFF;
  box-shadow: 0px 0px 12px -2px rgba(255, 255, 255, 0.5);
  line-height: 1.25;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: rgba(44, 46, 170, 0.781); 
  border-color: rgb(163, 168, 241);   
}

#react-select-5-listbox{
  background-color: #fff0;
  color: #a3c639;
}

.css-1q6aj2e-option{
  background-color: rgba(50, 93, 211, 0.63) !important;
}

.css-13qatl9-multiValue{
  background-color:rgba(13, 241, 13, 0.904) !important;
}