#markdown.form-control{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: solid ;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: rgb(255, 255, 255);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    
}

.input-ttl{
  border-color: "#c6a3390";
  height: 44px;
}

#title{
  background-color: #fff0;
  border-color: #a3c639;
  color: white;
}

#markdown.form-control:focus {
    background: none repeat scroll 0 0 #c5b3b34b;
    outline-width: 0;
    border:1px solid rgb(82, 207, 9);
    border-color: #a3c639;
}

#markdown.form-control {
  border-color: #a3c639;
}

#title.form-control:focus {
    border-color: "#c6a3390";
    box-shadow: 0 0 0px rgb(49, 49, 49)
}

#tags.form-control:focus {
    visibility: hidden;
}

.button {
 display: inline-block;
 padding: 12px 24px;
 border: 1px solid #1765cc;
 border-radius: 4px;
 transition: all 0.2s ease-in;
 position: relative;
 overflow: hidden;
 font-size: 19px;
 color: rgb(18, 183, 224);
 background-color: #fff0;
 z-index: 1;
 width: 130px;
 height: 50px;
}

.button:before {
 content: "";
 position: absolute;
 left: 50%;
 transform: translateX(-50%) scaleY(1) scaleX(1.25);
 top: 100%;
 width: 140%;
 height: 180%;
 background-color: rgba(0, 0, 0, 0.05);
 border-radius: 50%;
 display: block;
 transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
 z-index: -1;
}

.button:after {
 content: "";
 position: absolute;
 left: 55%;
 transform: translateX(-50%) scaleY(1) scaleX(1.45);
 top: 180%;
 width: 160%;
 height: 190%;
 background-color: #5755df;
 border-radius: 50%;
 display: block;
 transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
 z-index: -1;
}

.button:hover {
 color: #ffffff;
 border: 1px solid #3982bd;
}

.button:hover:before {
 top: -35%;
 background-color: #c7bebebe;
 transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
 top: -45%;
 background-color: #115799;
 transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.note-form{
  font-family: "Kanit";
  font-size: 20px;
  color: rgb(76, 177, 85);
}

.button#cancel:after {
  background-color: #ff0000be;
}

.button#cancel {
  border: 1px solid #b41e13e7;
  color: rgb(235, 28, 28);
}

.button#cancel:hover {
  color: #ffffff;
  border: 1px solid #e92d14;
}

.button#cancel:hover:after {
  background-color: #b41f0bc7;
}

.button#cancel:hover:after {
  background-color: #bb1111;
}
 